<div class="banner-bookings" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path("pac-man.jpg",
      width: 300, height: 200, crop: :thumb) %>)">
  <div class="banner-content">
    <div class="container-bookings text-center">
      <div class="title">
        <h1>Create a booking for <%= @game.name %></h1>
      </div>

      <div class ="detailed-form">
        <%= simple_form_for [@game, @booking] do |f| %>
          <%= f.input :rent_start %>
          <%= f.input :rent_end %>
          <%= @game.price/7  %>
          <br>
          <%= f.button :submit, class: "btn btn-success" %>
        <% end %>
        <%= link_to "Back to the game", game_path(@game), class: "btn btn-primary" %></div>
      </div>
    </div>
  </div>

<script>
  // var startDay = document.getElementById("booking_rent_start_3i");
  // var startDayValue = parseInt(startDay.options[startDay.selectedIndex].value);
  // var endDay = document.getElementById("booking_rent_end_3i");
  // var endDayValue = parseInt(endDay.options[endDay.selectedIndex].value);
  // var startMonth = document.getElementById("booking_rent_start_2i");
  // var startMonthValue = parseInt(startMonth.options[startMonth.selectedIndex].value);
  // var endMonth = document.getElementById("booking_rent_end_2i");
  // var endMonthValue = parseInt(endMonth.options[endMonth.selectedIndex].value);
  // var startYear = document.getElementById("booking_rent_start_1i");
  // var startYearValue = parseInt(startYear.options[startYear.selectedIndex].value);
  // var endYear = document.getElementById("booking_rent_end_1i");
  // var endYearValue = parseInt(endYear.options[endYear.selectedIndex].value);
  // var monthValues = { 1: 31, 2: 28, 3: 31, 4: 30, 5: 31, 6: 30, 7: 31, 8: 31, 9: 30, 10: 31, 11: 30, 12: 31 };

  // function calculate() {
  //   // console.log("this is final value");
  //   var finalValue = 0;
  //   // console.log(finalValue);
  //   // console.log("This is the year value");
  //   var yearValue = 0;
  //   // console.log(yearValue);
  //   yearValue = (endYearValue - startYearValue) * 365;
  //   var monthValueSum = 0;
  //   if(yearValue > 0) {
  //     if (endMonthValue < startMonthValue) {
  //       console.log("1");
  //       for (var x = endMonthValue-1 ; x > startMonthValue ; x--) {
  //         monthValueSum += monthValues[x];
  //       }
  //       //console.log(monthValueSum);
  //       var dayValueSum = monthValues[startMonthValue]-startDayValue;
  //       finalValue = yearValue - monthValueSum + dayValueSum + endDayValue;
  //     } else {
  //       console.log("2");
  //       for (var y = startMonthValue+1 ; y < endMonthValue ; y++) {
  //         console.log(monthValues[y]);
  //         monthValueSum += monthValues[y];
  //       }
  //       // console.log(monthValueSum);
  //       // console.log(yearValue);
  //       // console.log(dayValueSum);
  //       // console.log(yearValue);
  //       // console.log(endDayValue);
  //       var dayValueSum = monthValues[startMonthValue]-startDayValue;
  //       finalValue = yearValue + monthValueSum + dayValueSum + endDayValue;
  //     }
  //   } if(yearValue == 0) {
  //     console.log("3");
  //     for (var h = startMonthValue+1 ; h < endMonthValue ; h++) {
  //       monthValueSum += monthValues[h];
  //     }
  //     var dayValueSum = monthValues[startMonthValue]-startDayValue;
  //     finalValue = monthValueSum + dayValueSum + endDayValue;
  //     //console.log(finalValue);
  //   }
  // }

  // startDay.addEventListener("click", function() {
  //   startDay.addEventListener("click", function() {
  //     startDayValue = startDay.options[startDay.selectedIndex].value;
  //     calculate();
  //   })
  // });

  // endDay.addEventListener("click", function() {
  //   endDay.addEventListener("click", function() {
  //     endDayValue = endDay.options[endDay.selectedIndex].value;
  //     calculate();
  //   })
  // });

  // startMonth.addEventListener("click", function() {
  //   startMonth.addEventListener("click", function() {
  //     startMonthValue = startMonth.options[startMonth.selectedIndex].value;
  //     calculate();
  //   })
  // });

  // function myFunction() {
  //   endMonthValue = endMonth.options[endMonth.selectedIndex].value;
  //   calculate();
  //   endMonth.removeEventListener("click", myFunction);
  // }

  // endMonth.addEventListener("click", function() {
  //   endMonth.addEventListener("click", myFunction());
  // });

  // startYear.addEventListener("click", function() {
  //   startYear.addEventListener("click", function() {
  //     startYearValue = startYear.options[startYear.selectedIndex].value;
  //     calculate();
  //   })
  // });

  // endYear.addEventListener("click", function() {
  //   endYear.addEventListener("click", function() {
  //     endYearValue = endYear.options[endYear.selectedIndex].value;
  //     calculate();
  //   })
  // });







</script>
