<h1>Create a booking for <%= @game %></h1>

<%= simple_form_for [@game, @booking] do |f| %>
  <%= f.input :rent_start %>
  <%= f.input :rent_end %>
  <%= f.button :submit %>
<% end %>


<%= link_to "back to the game", game_path(@game) %>
