<div class="banner-bookings" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path("pac-man.jpg",
      width: 300, height: 200, crop: :thumb) %>)">
  <div class="banner-content">
    <div class="container-bookings text-center">
      <div class="booking-title">
        <h1>Create a booking for <%= @game.name %></h1>
      </div>

      <div class ="detailed-form">
        <%= simple_form_for [@game, @booking] do |f| %>
          <%= f.input :rent_start, input_html: {class: "rent"} %>
          <%= f.input :rent_end, input_html: {class: "rent"} %>
          <%= f.button :submit, class: "btn btn-success calender" %>
        <% end %>
        <%= link_to "Back to the game", game_path(@game), class: "btn btn-primary calender" %></div>
      </div>
    </div>
  </div>
