<h1>Here are the booking details of<%= @booking.game.name %></h1>

<p><%= @booking.rent_start %></p>
<p><%= @booking.rent_end %></p>
<p><%= @booking.game.price %></p>
<p><%= @booking.user.user_name %></p>
