<h1>Here are the booking details of <%= @booking.game.name %></h1>

<p><%= @booking.rent_start %></p>
<p><%= @booking.rent_end %></p>
<p><%= @booking.game.price %></p>
<p><%= @booking.game.user.user_name %></p>
<p><%= @booking.status %></p>


<%= link_to "Back to your bookings", bookings_path %>
<%= link_to "edit your booking", edit_game_booking_path(@booking) %>
