<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-3">

      <div class="show-white-card text-center">
        <div class="card-show-header">
          <h4><%= @user.user_name %></h4>
        </div>

        <div class="card-show-body">
          <img src='https://kitt.lewagon.com/placeholder/users/alex-felix' class="avatar-large"/>
        </div>
      </div>

      <div class="show-white-card text-center">
        <div class="card-show-header">
          <h4>About me</h4>
        </div>
        <div class="card-show-body">
          <p><%= @user.description %></p>
          <%= link_to "Edit", edit_user_path(@user) if @user == current_user %>
        </div>
      </div>

      <div class="show-white-card text-center">
        <div class="card-show-header">
          <h4>Follow me</h4>
        </div>
        <div class="card-show-body">
          <a href="#">Facebook</a><br>
          <a href="#">Twitter</a><br>
          <a href="#">Instagram</a>
        </div>
      </div>

      <div class="show-white-card text-center">
        <div class="card-show-header">
          <h4>Profile settings</h4>
        </div>
        <div class="card-show-body">
          <%= link_to "Edit", edit_user_registration_path(@user) if @user == current_user%>
        </div>
      </div>

    </div>
    <div class="col-xs-12 col-sm-9">
      <h3 class="text-white">These are your game up for rent</h3>
      <div class="all-cards">
        <% @user.games.each do |game| %>
          <div class="card3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),  url(<%= cl_image_path game.photo %>);">
            <h2><%= game.name %></h2>

            <div class="card-show-bottom">
              <span class="price">$<%= game.price %></span>
              <div>
                <%= link_to "edit", edit_game_path(game), class: "btn btn-primary edit-button" %>
                <%= link_to "delete", game_path(game), method: :delete, class: "btn btn-danger delete" %>
              </div>

            </div>
          </div>
        <% end %>
      </div>
      <h3 class="text-white">People who have sent you a booking request</h3>

      <% @user.games.each do |game| %>
        <% game.bookings.each do |booking| %>
        <div class="card4">
          <h2><%= game.name %></h2>

          <div class="card-show-bottom">
            <span class="price">$<%= booking.game.price %></span>
            <div>
            </div>

          </div>

          <div class="text-center">
            <p>
              <%= link_to booking.user.user_name, user_path(booking.user) %> wants to rent <%= booking.game.name %> for <%= booking.rent_start %> to <%= booking.rent_end %>

              </p>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


