<div class="container">

    <div class="col-xs-12 col-md-3">

      <div class="show-white-card text-center">
        <div class="card-show-header">
          <h4 class="h4"><%= @user.user_name %></h4>
        </div>
          <% if  @user.photo.present? %>
            <div class="avatar-large" style="background-image: url('<%= cl_image_path @user.photo %>');">
          <% else %>
            <div class="avatar-large" style="background-image: url('https://www.vccircle.com/wp-content/uploads/2017/03/default-profile.png?w=300')">
          <% end %>
        </div>
      </div>

      <div class="show-white-card text-center">
        <div class="card-show-header">
          <h4 class="h4">About me</h4>
        </div>
        <div class="card-show-body">
          <p><%= @user.description %></p>
          <%= link_to "Edit", edit_user_path(@user) if @user == current_user %>
        </div>
      </div>

      <div class="show-white-card text-center">
        <div class="card-show-header">
          <h4 class="h4">Follow me</h4>
        </div>
        <div class="card-show-body">
          <a href="#">Facebook</a><br>
          <a href="#">Twitter</a><br>
          <a href="#">Instagram</a>
        </div>
      </div>

      <div class="show-white-card text-center">
        <div class="card-show-header">
          <h4 class="h4">Profile settings</h4>
        </div>
        <div class="card-show-body">
          <%= link_to "Edit", edit_user_registration_path(@user) if @user == current_user%>
        </div>
      </div>

    </div>
    <div class="col-xs-12 col-sm-9">
      <h3 class="text-black">These are your game up for rent</h3>
      <div class="all-cards">
        <% @user.games.each do |game| %>
          <div class="card3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),  url(<%= cl_image_path game.photo %>);">
            <h2><%= game.name %></h2>

            <div class="card-show-bottom">
              <span class="price">$<%= game.price %></span>
              <div>
                <%= link_to "edit", edit_game_path(game), class: "btn btn-primary edit-button" %>
                <%= link_to "delete", game_path(game), method: :delete, class: "btn btn-danger delete" %>
              </div>

            </div>
          </div>
        <% end %>
      </div>
      <% if @user == current_user %>
      <h3 class="text-black">People who have sent you a booking request</h3>
      <% @user.games.each do |game| %>
        <% game.bookings.each do |booking| %>
        <div class="card4">
          <h2><%= game.name %></h2>

          <div class="card-show-bottom">
           <span class="price">$<%= ((booking.game.price.to_f/7)*(booking.rent_end - booking.rent_start)).round(2) %></span>
          </div>

          <div class="text-center">
            <div style display: block;>
              <p>
                <%= link_to booking.user.user_name, user_path(booking.user) %> wants to rent <%= booking.game.name %> for <%= booking.rent_start.strftime("%A, %b %d, %Y")%> to <%= booking.rent_end.strftime("%A, %b %d, %Y") %> <%= booking.status %>
                <%= link_to "accept", accept_path(booking), class: "btn btn-success accept-button" %>
                <%= link_to "decline", decline_path(booking),  class: "btn btn-danger decline" %>
                </p>
            </div>

          </div>
        </div>
        <% end %>
      <% end %>
      <% end %>
    </div>

</div>


