<div class="banner-results" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path("play-games.jpg",
      width: 300, height: 200, crop: :thumb) %>)">
  <div class="banner-content">
    <div class="container-banner text-center">
      <div class="title">
        <h1>Search for more games in your area</h1>
      </div>

      <div class ="detailed-form">
        <%= form_tag games_path, :method => 'get' do %>
          <p>
            <%= text_field_tag :search, params[:search], placeholder: 'Enter name' %>
            <%= text_field_tag :search_location, params[:search_location], placeholder: 'Enter location' %>
            <%= submit_tag "Search", class: "search2", :name => nil %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="results">
  <h2 class="text-center popular">Your search results...</h2>
  <div class="container-results">
    <div class="row">
      <% @games.each do |game| %>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <%= link_to game_path(game) do %>
          <div class="results-card">
            <div class="results-card-image" style="background-image: url(<%= cl_image_path game.photo %>);">
            </div>
            <div class="results-card-description">
              <h1><%= game.name %></h1>
              <h6><%= game.genre %></h6>
              <div class="show-icon"><i class="<%= game.find_icon %>"></i></div>
              <h2>£<%= game.price %>/pw</h2>
              <h6><%= game.location %></h6>
              <div class="top"><%= link_to "Rent", new_game_booking_path(game), class: "btn btn-primary" %></div>
            </div>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
