<h1>Search results</h1>


<%= form_tag games_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= text_field_tag :search_location, params[:search_location] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<ul>
  <% @games.each do |game| %>
  <li>
    <%=link_to game.name, game_path(game) %>
    <%= game.genre %>
    <%= game.location %>
    <%= game.price %>
  </li>
  <% end %>
</ul>

