<div class="container text-center">
  <div class="title">
    <h1>Search results</h1>
  </div>

  <div class ="detailed-form">
    <%= form_tag games_path, :method => 'get' do %>
      <p>
        <%= text_field_tag :search, params[:search], placeholder: 'Enter name' %>
        <%= text_field_tag :search_location, params[:search_location], placeholder: 'Enter location' %>
        <%= submit_tag "Search", :name => nil %>
      </p>
    <% end %>
  </div>


    <div class="row">
      <% @games.each do |game| %>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

          <div class="result-card">
            <%= cl_image_tag game.photo %>
            <div class="result-card-description">
              <h1><%= game.name %></h1>
              <h6>Genre: <%= game.genre %></h6>
              <h5><%= game.platform %></h6>
              <h2>£<%= game.price %>/pw</h2>
            </div>
          </div>

        </div>
      <% end %>
    </div>
</div>









