<h1><%= @game.name %></h1>

<p><%= @game.description %></p>
<p><%= @game.platform %></p>
<p><%= @game.genre %></p>
<p><%= @game.price %></p>
<p><%= @game.location %></p>
<p><%= link_to @game.user.user_name, user_path(@game.user) %></p>

<%= link_to "Create a booking",  new_game_booking_path(@game) %>
<%= link_to "Back to search page", games_path %>
