<div class="container">
  <div class="game-flex">
    <div class="game-image" style="background-image: url(<%= cl_image_path @game.photo %>);">
    </div>
    <div class="game-details">
      <h1><%= @game.name %></h1>
      <p id="description"><%= @game.description%></p>
      <p id="genre">Genre:<%= @game.genre %></p>
      <div class="pricing">
        <p class="price">£<%= @game.price %>/pw</p>
        <%= link_to "Rent",  new_game_booking_path(@game), class: "btn btn-primary rent-show" %>
      </div>
      <div class="icon-stuff">
        <p id="platform-text">Platform:</p>
        <p class="location">Location:</p>
      </div>
      <div class="show-icon"><i class="<%= @game.find_icon %>" id="game-detail-icon"></i></div>
      <div class="location-name"><%= @game.location %></div>
    </div>
  </div>


  <div class="show-links">
    <%= link_to "Back", games_path, class: "btn btn-warning back-to-search" %>


    <% game_id = [] %>
    <% @game.users.each do |user| %>
      <% game_id << user.id%>
    <% end %>
    <% if user_signed_in? %>
      <% if game_id.include?(current_user.id) %>
    <%= link_to "Create a review", new_game_review_path(@game), class: "btn btn-success rcreate-btn" %>
      <% end %>
    <% end %>
  </div>


  <div class="reviews">
     <!--  <svg style="display: inline-block;" height="10" width="100">
        <line id='left-line' x1="10" y1="5" x2="5" y2="5" style="stroke:rgba(0,0,0,0.3);stroke-width:1" />
      </svg> -->
      <svg id="line2" height='10' width='150'>
          <path class="path2" fill="#BFBFBF" stroke-width="2" stroke="#BFBFBF" d="M150 0 L0 0"/>
      </svg>
      <h1 style="display: inline-block;">Reviews</h1>
      <svg id="line" height='10' width='150'>
        <path class="path1" fill="#BFBFBF" stroke-width="2" stroke="#BFBFBF" d="M0 0 L150 0"/>
      </svg>
     <!--  <svg style="display: inline-block;" height="10" width="100">
        <line id='right-line' x1="5" y1="5" x2="10" y2="5" style="stroke:rgba(0,0,0,0.3);stroke-width:1" />
      </svg> -->


<!--       <script>
        const rightLine = document.getElementById('right-line');
        const rightCount = 0;
        const rightInterval = window.setInterval(function() {
              rightLine.setAttribute('x1', 2 + +rightLine.getAttribute('y2'));
              rightLine.setAttribute('x2', 1 + +rightLine.getAttribute('x2'));
              if (rightCount++ > 75)
                  window.clearInterval(rightInterval);
          }, 50);

        const leftLine = document.getElementById('left-line');
        const leftCount = 0;
        const leftInterval = window.setInterval(function() {
              leftLine.setAttribute('x1', 2 + +leftLine.getAttribute('y2'));
              leftLine.setAttribute('x2', 1 + +leftLine.getAttribute('x2'));
              if (leftCount++ > 75)
                  window.clearInterval(leftInterval);
          }, 50);

      </script> -->
  </div>

  <% @game.reviews.each do |review| %>
    <div class="review-card">
        <div class="review-top">
          <div class="left">
            <div class="user-avatar" style="background-image: url('<%= cl_image_path review.user.photo %>');"></div>
            <h4><%= review.user.user_name %></h4>
          </div>
          <div class="middle"><h2><%= review.name %></h2></div>
          <div class="right">
            <p>Rating</p>
            <p>
              <% review.rating.times do %>
                <i class="fa fa-star"></i>
              <% end %>
            </p>
          </div>
        </div>
        <div class="description-box"><p><%= review.comment %></p></div>
      <% if current_user == review.user %>
      <%= link_to "Delete", review_path(review), method: :delete, class: "review-delete btn btn-danger" %>
      <% end %>
    </div>
  <% end %>
</div>






