<h1>Create a review for <%= @game.name %></h1>

<%= simple_form_for [@game, @review] do |f| %>
  <%= f.input :name %>
  <%= f.input :comment %>
  <%= f.input :rating %>
  <%= f.button :submit, class: "btn btn-success" %>
<% end %>
